.dart_tool/
build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
android/.gradle/
android/.kotlin/
android/local.properties
android/key.properties
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
*.jks
*.keystore
*.p12
*.pem
*.key
.env
.env.*
!.env.example
*.bak.*
